ul li{
    display: flex;
    gap:10px;
    align-items: center;
}

.submit{
    padding: 5px 10px;
    background-color:green;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}
.edt{
    height: fit-content;
    padding: 5px 10px;
    background-color:green;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}
.delt{
    height: fit-content;
    padding: 5px 10px;
    background-color:red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}